html {
    background-color: #0D214F;
}

.head-container {
    width: 100%;
    border-style: solid;
    text-align: center;
    font-family: "Roboto";
    background-color: #020F2C;
}

header h1 {
    color: white;
}

header h2 {
    color: white;
}

img {
    width: 100%;
    margin: 0;
}

.section-container {
    border-style: solid;
    font-family: "Roboto";
    width: auto;
    background-color: #d1d1d1;
    color: black;
    margin: 1rem;
}

h1 {
    margin: 0;
    padding: 10px;
}

h2 {
    margin: 10px;
}

a {
    color: black;
    margin: 0 10px;
}

.grid-box {
    display: grid;
    grid-template-columns: 1fr;
}

.box {
    background-color: #020F2C;
    color: white;
}

p {
    text-align: center;
}

footer {
    text-align: center;
    border-style: solid;
    background-color: #020F2C;
}

footer p {
    color: white;
}