@media screen and (min-width:1200px) {
    header {
        width: 100%;
        display: grid;
        grid-template-columns: 20% 80%;
        align-items: center;
    }

    #menu {
        display: none;

    }


    .navigation li {
        display: block;
    }

    .navigation li a {
        padding: 0;
        color: black;
        font-size: 25px;
    }



    a {
        padding: 1rem;
        font-size: medium;
    }

    ul a {
        padding: 1rem;
    }

    ul li {
        padding: 1rem;
    }

    .hero-div {
        width: 100%;
        height: auto;


    }

    .hero-image {
        width: 95%;
        padding: 0;
        height: 700px;
    }

    .container1 {
        margin-left: 100px;
    }

    .grid {
        justify-items: center;
        margin-top: 20px;
    }


}