@media screen and (min-width:1200px) {
    header {
        width: 100%;
        display: grid;
        grid-template-columns: 20% 80%;
        align-items: center;
        /* background-color: #9AC361; */
    }

    #menu {
        display: none;

    }

    /* .navigation {
        flex-direction: row;
        justify-content: space-around;

    } */

    .navigation li {
        display: block;
    }

    .navigation li a {
        padding: 0;
        color: black;
        font-size: 25px;
    }

    /* .navigation li a:hover {
        padding: 10px;
    } */

    a {
        padding: 1rem;
        font-size: medium;
    }

    ul a {
        padding: 1rem;
    }

    ul li {
        padding: 1rem;
    }

    .hero-div {
        width: 100%;
        height: auto;
        /* margin: 20px; */

    }

    .hero-image {
        /* margin: 20px; */
        width: 95%;
        /* height: auto; */
        padding: 0;
    }

    /* .section1 { */
    /* margin: 0 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px; */
    /* background-color: #9AC361; */

    /* } */

    .container1 {
        margin-left: 100px;
    }


    .grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        margin-top: 20px;
    }

    /* .grid-item:last-child {
        grid-column: 3/3;
    } */

    /* .events,
    .weather-card,
    .spotlights {
        padding: 150px;
        width: 300px;
        height: 200px;
    } */
}