html {
    background-color: #113951;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #032336;
    font-family: 'Montserrat', sans-serif;
}

nav {
    /* max-width: 700px; */
    max-width: 100%;
    /* margin: 1rem auto; */
}

/* small view navigation */
#menu {
    font-size: 1.5rem;
    border: 1px solid rgba(0, 0, 0, .3);
    padding: .25rem .75rem;
    background-color: transparent;
    color: white;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "✖️";
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: black;
    color: #fff;
    margin: 0;
    padding: 0;
    /* max-width: 100%; */
}

.navigation li {
    display: none;
}

.navigation li a {
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.navigation li a:hover {
    background-color: #113951;
    color: white;
    /* font-weight: 700; */
}

/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
.open li {
    display: block;
    width: 100%;
}

.open li a {
    display: block;
}

.active::before {
    content: "📍 ";
}

.profile-picture {
    margin: 20px;
}

/* nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #010B16;
    font-family: 'Montserrat', sans-serif;
} */

li,
a,
h3,
p,
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    color: white;
}

a {
    text-decoration: none;

}

a:hover {
    background-color: #113951;
}


h2 {
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    display: grid;
    width: 100%;
    align-items: center;
    text-align: center;
    height: 50px;
    background-color: #032336;
    border-radius: 15px;

}


.information-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

footer {
    background-color: #032336;
    display: grid;
    justify-items: center;
    text-align: center;
    color: white;

}

.flag {
    display: flex;
    width: 80px;
}

.map {
    padding-bottom: 70%;
    position: relative;
    margin: 0 20px;
}

.map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}