header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #142E54;
}

.profile-picture {
    margin: 20px;
}

nav {
    display: grid;
    justify-content: center;
    background-color: black;
}

a {
    text-decoration: none;
    color: white
}

ul a {
    list-style: none;
    color: black;
}

h2 {
    text-align: center;
}

h3 {
    display: grid;
    width: 100%;
    align-items: center;
    text-align: center;
    height: 50px;
    background-color: #728CA6;
    border-radius: 15px;

}

.card {
    display: grid;
    background-color: rgb(245, 245, 245);
    color: rgb(255, 255, 255);
}

.information-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

footer {
    background-color: #728CA6;
    display: grid;
    justify-items: center;
    color: white;

}

.flag {
    display: flex;

}