html {
    background-color: #113951;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #032336;
    font-family: 'Montserrat', sans-serif;
}

.profile-picture {
    margin: 20px;
}

nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #010B16;
    font-family: 'Montserrat', sans-serif;
}

li,
a,
h3,
p {
    font-family: 'Montserrat', sans-serif;
    font-size: small;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    background-color: #113951;
}

h1 {
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    display: grid;
    width: 100%;
    align-items: center;
    text-align: center;
    height: 50px;
    background-color: #032336;
    color: white;
    border-radius: 15px;

}

.card {
    /* display: grid; */
    color: white;
}

.information-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

footer {
    background-color: #032336;
    display: grid;
    justify-items: center;
    text-align: center;
    color: white;

}

.flag {
    display: flex;
    width: 80px;
}