@media screen and (min-width:640px) {
    .grid-layout {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    #menu {
        display: none;

    }

    .navigation {
        flex-direction: row;
        justify-content: space-around;

    }

    .navigation li {
        display: block;
    }

    .navigation li a {
        padding: 0;
    }

    .navigation li a:hover {
        padding: 10px;
    }

    a {
        padding: 1rem;
        font-size: medium;
    }

    ul a {
        padding: 1rem;
    }

    ul li {
        padding: 1rem;
    }

    li,
    a,
    h1,
    h2,
    h3,
    p {
        font-family: 'Martian Mono', monospace;
        font-size: large;

    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 40px;
    }

    .map {
        position: relative;
        margin: 0 50px;
        padding: 200px;
    }

    .map iframe {
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        position: absolute;
    }
}